<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cnpeng.android2">

    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
    -->
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- CnPeng 2018/12/21 5:22 PM 谷歌广告用的id -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8994842234959408~1322966018" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.WindowBackGroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ——————————————————工作用DEMO———————————————————— -->
        <activity
            android:name=".b_work.WorkDemoActivity"
            android:label="@string/title_activity_work_demo"
            android:theme="@style/AppTheme" />
        <activity android:name=".b_work.b01_maxLines_tv.MaxLinesTvActivity" />
        <activity android:name=".b_work.b02_bottom_pop.BottomPopActivity" />

        <!-- ——————————————————自主学习DEMO———————————————————— -->
        <activity android:name=".d_mine.MyDemoActivity" />
        <activity
            android:name=".d_mine.a01_chips.ChipActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".b_work.b03_view_flipper.ViewFlipperActivity" />
        <activity android:name=".b_work.b04_flow_layout.FlowImplActivity" />
        <activity
            android:name=".d_mine.a02_flexboxlayout.FlexboxActivity"
            android:label="@string/title_activity_flexbox"
            android:theme="@style/AppTheme" />
        <activity android:name=".d_mine.a03_admob.AdMobActivity" />
        <activity android:name=".d_mine.a04_actlanuchmode.ClearTopFlagActivity" />
        <activity android:name=".d_mine.TempActivity" />
        <activity android:name=".d_mine.a05_extract_rv_adapter.ExtractRvAdapterActivity" />
        <activity android:name=".a_book1.BookOneActivity" />
        <activity android:name=".a_book1.chapter7.CoordinatorLayoutTestActivity" />
        <activity
            android:name=".a_book1.chapter7.ToolBarDemoActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".a_book1.chapter7.AppBarLayoutActivity" />
        <activity android:name=".a_book1.chapter7.CollapsingToolBarActivity" />
        <activity android:name=".a_book1.chapter7.MainAlipayActivity" />
        <activity android:name=".a_book1.chapter7.ViewPagerActivity" />
        <activity android:name=".d_mine.a06_sound_wirte.SoundWriteActivity" />
        <activity android:name=".utils.BaseActivity"/>
    </application>

</manifest>