<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cnpeng.android2">

    <!--
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
    -->
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--CnPeng 2018/12/21 5:22 PM 谷歌广告用的id-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8994842234959408~1322966018"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.WindowBackGroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ——————————————————工作用DEMO———————————————————— -->
        <activity
            android:name=".b_work.WorkDemoActivity"
            android:label="@string/title_activity_work_demo"
            android:theme="@style/AppTheme" />
        <activity android:name=".b_work.b01_maxLines_tv.MaxLinesTvActivity" />
        <activity android:name=".b_work.b02_bottom_pop.BottomPopActivity" />

        <!-- ——————————————————自主学习DEMO———————————————————— -->
        <activity android:name=".d_mine.MyDemoActivity" />
        <activity
            android:name=".d_mine.a01_chips.ChipActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".b_work.b03_view_flipper.ViewFlipperActivity" />
        <activity android:name=".b_work.b04_flow_layout.FlowImplActivity" />
        <activity
            android:name=".d_mine.a02_flexboxlayout.FlexboxActivity"
            android:label="@string/title_activity_flexbox"
            android:theme="@style/AppTheme" />
        <activity android:name=".d_mine.a03_admob.AdMobActivity"></activity>
    </application>

</manifest>